.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 40px;
  margin: 0 120px;
}
.main-page-article {
  position: relative;
}

.cards img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.article-title {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  color: #000;
  padding: 10px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cat-title {
  width: 50%;
  margin: 80px auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  line-height: 1.2;
}

.cat-descr {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: 300;
}

.cat-descr:after {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background-color: #383838;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.category-img {
  height: 80vh;
  width: 80%;
  margin: 120px auto 0 auto;

}

.category-img img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

@media screen and (max-width: 1435px) {
  .cards-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 1155px) {
  .cards-title {
    width: 70%;
    font-size: 40px;
  }
}
@media screen and (max-width: 1105px) {
  .cards-title {
    width: 80%;
    font-size: 40px;
  }
}
@media screen and (max-width: 415px) {
  .cards-title {
    width: 95%;
    font-size: 35px;
  }
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    margin: 0;
  }
  .article-title {
    padding: 15px;
    font-size: 20px;
  }
  .cat-title {
    font-size: 25px;
  }
}
@media screen and (max-width: 376px) {
  .article-title {
    font-size: 17px;
  }
}